@font-face {
    font-family: 'YoungSerif-Regular';
    src: url('/TREINAMENTO/FrontEnd/Receita/assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Outfit";
    src: url('/TREINAMENTO/FrontEnd/Receita/assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}

hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: #333;
}

table {
    width: 100%;
}

td {
    padding: 12px 0;
    border-bottom: 1px solid #ccc;
}

td:last-child {
    font-weight: 500;
    color: rgb(246, 207, 116);
}

#titulo {
    font-family: 'YoungSerif-Regular', sans-serif;
    line-height: 1;
    font-size: clamp(1rem, 3vw, 6rem);
    margin-bottom: 0;
}

.subtitulo {
    font-family: 'YoungSerif-Regular', sans-serif;
    color: rgb(246, 207, 116);
}

h3, p {
    line-height: 1;
    font-size: clamp(0.7rem, 2vw, 1rem);
}

img {
    border-radius: 20px;
}

header h2 {
    line-height: 1;
    font-size: clamp(0.7rem, 1.75vw, 1rem);
    font-weight: 400;
}

header {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

#card {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 60%;
    border-radius: 20px;
    background-color: hsl(0, 100%, 100%);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

body {
        display: flex;
        justify-content: center;
        font-family: 'Outfit', sans-serif;
        font-size: clamp(0.7rem, 1.75vw, 1rem);
        background-color: hsl(47, 100%, 86%);
    }